{% extends 'events/base.html' %}

{% block content %}
{% if user.is_authenticated %}
	<center>
	<h1>Add Venue To Database</h1>
	<br/><br/>
	{% if submitted %}
		Your Venue Was Submitted Succefully!!!

	{% else %}

		<form action="" method=POST enctype="multipart/form-data">
			{% csrf_token %}

			{{ form.as_p }}

			<input type="submit" value="Submit" class="btn btn-secondary">

		</form>
	{% endif %}
	</center>
{% else %}
	<h1>Sorry! You Must Be Logged In To View This Page...</h1>

	<a href="{% url 'login' %}">Login Here</a>
{% endif %}

{% endblock %}