<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">My Club</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' '2021' 'March' %}">Calendar</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Events
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'list-events' %}">All Events</a></li>
            {% if user.is_authenticated %}
            <li><a class="dropdown-item" href="{% url 'add-event' %}">Add Event</a></li>
            <li><a class="dropdown-item" href="{% url 'my_events' %}">My Events</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="{% url 'search_events' %}">Search Events</a></li>

            
          </ul>
        </li>


      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Venues
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'list-venues' %}">All Venues</a></li>
            {% if user.is_authenticated %}
            <li><a class="dropdown-item" href="{% url 'add-venue' %}">Add Venue</a></li>
            {% endif %}
            
          </ul>
        </li>   
      
      

        
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Downloads
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'venue_text' %}">Venue Text File</a></li>
            <li><a class="dropdown-item" href="{% url 'venue_csv' %}">Venue CSV File</a></li>
            <li><a class="dropdown-item" href="{% url 'venue_pdf' %}">Venue PDF File</a></li>
          </ul>
        </li>

      
    

      {% if user.is_authenticated %}
      {% if user.is_superuser %}
          <li class="nav-item">
          <a class="nav-link" href="{% url 'admin_approval' %}">Admin</a>
        </li>
      {%endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register_user' %}">Register</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
      {% endif %}

      </ul>
      <form class="d-flex" method=POST action="{% url 'search-venues' %}">
        {% csrf_token %}

        <input class="form-control me-2" type="search" placeholder="Search Venues" aria-label="Search" name="searched">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>