{% extends 'events/base.html' %}

{% block content %}
	

<div class="card">
  <div class="card-header">
    Venue
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ venue }}</h5>
    <p class="card-text">
    	<ul>

	<li>{{ venue.address }}</li>
	<li>{{ venue.zip_code }}</li>
	<li>{{ venue.phone }}</li>
	<li>{{ venue.email_address }}</li>
	<li><a href="{{ venue.web }}">{{ venue.web }}</a></li>
	<li>Owner: {{ venue_owner }} </li>
	<li>Owner's Email: {{ venue_owner.email }} </li>

	</ul>
	<br>

	{% if venue.venue_image %}
	<img src="{{ venue.venue_image.url }}" width=500>
	{% endif %}



    </p>
    <br/>
    <h3>Events At This Venue...</h3>
    {% if events %}
{% for event in events %}
 <a href="{% url 'show-event' event.id %}">{{ event}}</a><br/>
{% endfor %}
<br/>
{% else %}
No Events Scheduled At This Time.
{% endif %}
  </div>
  <br/><br/>
</div>
	<br/>

	
	</center>
{% endblock %}
