{% extends 'events/base.html' %}

{% block content %}
	
<h1>Show Event</h1>

<br/>
	
{% if event.approved %}
<div class="card">
  <div class="card-header">
    {{ event }}
  </div>
  <div class="card-body">
    <h5 class="card-title">Venue: {{ event.venue }}</h5>
    <p class="card-text">
    	<ul>
<li>Date: {{ event.event_date }}</li>
<li>Days Till Event: {{ event.Days_till }}</li>
<li>Occured: {{ event.Is_Past}}</li>
<li>Venue Website: {{ event.venue.web }}</li>
<li>Manager: {{ event.manager }}</li>
<li>Description: {{ event.description }}</li>
<li>Approved: {{ event.approved }}</li>
	<li>Attendees:<br/>
	{% for user in event.attendees.all %}
{{ user }}<br/>
  
  {% endfor %}

	</li>
	</ul>



    </p>
  </div>
  {% if user.is_authenticated %}
    {% if user == event.manager %}
      <div class="card-footer text-muted">
        
        <a href="{% url 'update-event' event.id %}" class="btn btn-outline-secondary btn-sm">Update Event</a>

        <a href="{% url 'delete-event' event.id %}" class="btn btn-outline-danger btn-sm">Delete Event</a>
        
      </div>
    {% endif %}  
  {% endif %}
</div>



<br/><br/>
{% endif %}


	

{% endblock %}